:root {
    --main-bg-blue: #3eaeb3;
    --main-bg-purple: #54137d;
    --main-primay-font: 'Roboto', Sans-serif
}

.wy-nav-side{
background: --main-bg-purple;
}

.wy-side-nav-search{
background: --main-bg-blue;
}